blueprint==3.4.2
Flask==1.1.2
Flask-Mail==0.9.1
Flask-MySQL==1.5.1
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.2.9
PyMySQL==0.10.1
pytz==2020.4
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.3
